body {
    font-family: "Roboto", sans-serif;
    color: rgb(29, 27, 27);
    background-color: #efefef;
}

#spazio_vuoto {
    width: auto;
    height: 50px;
    background: transparent;
}

#sfondo3 {
    padding-left: 30px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    background-color: transparent;
    height: auto;
    width: auto;
}

#sfondo2 {
    padding-left: 30px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    background-color: transparent;
    height: auto;
    width: auto;
}

#riquadro2 {
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    padding-top: 30px !important;
    height: auto;
    width: auto;
    border-radius: 25px;
    background-color: rgb(223, 219, 219);
    border: 5px solid whitesmoke;
    text-align: center;
}

#txt_cerchio {
    padding-top: 10px;
}

#TC,
#TC:active,
#TC:focus {
    background-color: white;
    border-radius: 25px;
    border: 2px solid white;
}

#email_link {
    border: none;
    background-color: transparent;
}

/*prova pulse*/
#col_circle {
    display: flex;
    justify-content: center;
}

.circle {
    --w: 90px;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    height: var(--w);
    justify-content: center;
    margin-bottom: 1rem;
    width: var(--w);
    border: 2px solid #000;
}

.a-pulse {
    --animdur: 1s;
    --animn: pulse;
    will-change: transform;
}

[data-animation] {
    animation: var(--animn, none) var(--animdur, 0s) var(--animtf, linear) var(--animdel, 0s) var(--animic, infinite) var(--animdir, alternate) var(--animfm, none) var(--animps, running);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}