:root {
    --bg-nav-color: #CED0CE;
    --bg-nav-color-hover: #9DB4C0;
    --text-color: #253237;
    --text-color-hover: white;
    --bg-section-color-pressed: #5689C0;
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: var(--bg-nav-color);
    align-items: center;
}

.titolo {
    height: 70px;
    margin: 0 0 0 10px;
    padding: 0;
    align-items: center;
    display: flex;
}

#home {
    color: var(--text-color);
    font-size: 24px;

    &:hover {
        color: var(--text-color-hover);
        background-color: transparent;
    }
}

div.dropdown-menu {
    margin: -3px 0 0 0 !important;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    font-size: 16px;
}

a.dropdown-item {
    background-color: transparent;

    &:hover {
        background-color: var(--bg-nav-color-hover);
        color: var(--text-color-hover);
    }

    &:active {
        background-color: var(--bg-section-color-pressed);
    }
}

button.nav-link {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 20px;

    &:hover {
        background-color: var(--bg-nav-color-hover);
        color: var(--text-color-hover);
    }

    &::after {
        display: none;
    }

    &:active,
    &:focus {
        background-color: var(--bg-section-color-pressed);
        color: var(--text-color-hover);
    }
}

li>a {
    text-decoration: none;
}

#sfondo {
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    background-color: transparent;
    height: auto;
    width: auto;
}

#riquadro1 {
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-top: 10px !important;
    height: 200px;
    width: 2000px;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.column-b {
    text-align: center;
}

#mouse_homo_img {
    max-height: 200px;
    width: 100%;
    height: auto;
}

#logo {
    height: auto;
}

#titolo_grande {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}