body {
    font-family: "Roboto", sans-serif;
    color: rgb(29, 27, 27);
    background-color: #efefef;
}

#spazio_vuoto {
    width: auto;
    height: 50px;
    background: transparent;
}

#sfondo3 {
    padding-left: 30px !important;
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    background-color: transparent;
    height: auto;
    width: auto;
}

#sfondo2 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: transparent;
    height: auto;
    width: auto;
}

#riquadro2 {
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
    padding-top: 30px !important;
    height: auto !important;
    width: auto;
    border-radius: 25px;
    background-color: rgb(223, 219, 219);
    border: 5px solid whitesmoke;
    text-align: center;
}

#col_help {
    float: left;
    width: 10%;
    padding-top: 15px;
}

#col_domanda {
    width: 90%;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

/*collapsible*/
.collapsible {
    background-color: transparent;
    color: rgb(29, 27, 27);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
}

.collapsible:hover {
    background-color: #038dd7a1;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.active {
    background-color: #038dd7a1;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

.collapsible:after {
    content: "\002B";
    color: rgb(29, 27, 27);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #efefef;
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

p {
    margin-top: 1rem;
}