body {
    font-family: "Roboto", sans-serif;
    color: rgb(29, 27, 27);
    background-color: #efefef;
}

#spazio_vuoto {
    width: auto;
    height: 50px;
    background: transparent;
}

#sfondo3 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: transparent;
    height: auto;
    width: auto;
    padding-left: 0px;
    max-width: 1230px;
}

#sfondo2 {
    background-color: transparent;
    height: auto;
    width: auto;
    max-width: 1230px;
    min-height: 300px;
    padding-left: 0;
}

/*menu a tendina*/
nav.primary-navigation {
    margin-top: 15px;
    margin-bottom: 50px;
    display: block;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 22px;
    background-color: rgb(122, 199, 235);
    width: auto;
    border-radius: 25px;
    border: 5px solid rgb(122, 199, 235);
    max-width: fit-content;
}

nav.primary-navigation:hover {
    background-color: #3ca0e7;
    border: 5px solid #3ca0e7;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 30px;
    position: relative;
}

#primo_dropdown:hover {
    padding-left: 10px;
    border-left: 3px solid #033152;
    transition: all 0.3s ease;
}

nav.primary-navigation li a {
    color: #033152;
}

nav.primary-navigation li a:hover {
    color: whitesmoke;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    position: absolute;
    display: none;
    background-color: #74ace4;
    border-radius: 25px;
    border: 5px solid #74ace4;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 390px;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    margin-right: 30px;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 3px solid #033152;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

ul li ul li a {
    transition: all 0.3s ease;
}

ul #lista_bioproject {
    visibility: hidden;
    position: absolute;
    display: none;
    background-color: #74ace4;
    border-radius: 25px;
    border: 5px solid #74ace4;
}

#tendina_human:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
    box-shadow: 0px 3px 5px -1px #ccc;
    background-color: #accff1;
    border: #accff1;
    margin-left: 120px;
}

#btnID1 {
    color: #033152;
    background-color: #74ace4;
    border: none;
}

#btnID1:hover {
    padding-left: 10px;
    border-left: 3px solid #033152;
    transition: all 0.3s ease;
    color: whitesmoke;
}

#btnIDaltri {
    color: #033152;
    background-color: #accff1;
    border: none;
    min-width: 300px;
}

#btnIDaltri:hover {
    padding-left: 10px;
    border-left: 3px solid #033152;
    transition: all 0.3s ease;
    color: whitesmoke;
}

#sfondo_immagini {
    border-radius: 5px;
    border: 2px solid rgb(172, 169, 169);
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: max-content;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
}